
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Login";
}
<h1>@ViewData["Title"]</h1>
<body class="login-pg">
    <p>Please enter your UserName and password. If you do not have an account, please click register.</p>

    <label for="UserName">Username:</label>

    <div class="form-group">
        <input type="text" id="UserName" name="Username">
    </div>

    <label for="PassWord">Password:</label>

    <div class="form-group">
        <input type="text" id="PassWord" name="Password">
    </div>

    @*Need data validation*@
    <div class="form-group">
        <input class="btn btn-primary" type="submit" value="Submit">
    </div>
    @*IF data validation is true*@
    @*Go to login successful, redirecting to roster page*@
    @*IF data validation is false*@


    @*Login failed, please try again*@

    <div class="form-group">
        <a class="btn btn-primary" asp-controller="Home" asp-action="Registration">Register</a>
    </div>
</body>