@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Group 3 BikeStore Project</p>
<p>This website is created by Microsoft Software and Systems Academy Students for a group project.</p>
